<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256502347694-3punirpdeu1epdvfnospufdbh3drsh0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256502347694-3punirpdeu1epdvfnospufdbh3drsh0m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>256502347694-nbebhmldug69v39v1pj922835nl49jhf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_kk7mx6ejdJYDeAxS06WUw5pDzYVYTHs</string>
	<key>GCM_SENDER_ID</key>
	<string>256502347694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.the.app.favor</string>
	<key>PROJECT_ID</key>
	<string>the-favor</string>
	<key>STORAGE_BUCKET</key>
	<string>the-favor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256502347694:ios:aa4b3461f76890febcba3f</string>
</dict>
</plist>