<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247296199871-6uqd03ncpl7kv997ab9eh9d89lu8ahfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247296199871-6uqd03ncpl7kv997ab9eh9d89lu8ahfl</string>
	<key>API_KEY</key>
	<string>AIzaSyD4MfHJIAXfVGj2z7dqUPEQu8XEW6ViqPg</string>
	<key>GCM_SENDER_ID</key>
	<string>247296199871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.the.app.favor</string>
	<key>PROJECT_ID</key>
	<string>favor-423b8</string>
	<key>STORAGE_BUCKET</key>
	<string>favor-423b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247296199871:ios:6d016d88d9c4f66226ca0a</string>
</dict>
</plist>